body {
  background-color: #350d36;
  padding-top: 60px;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
input[type="number"] {
  width: 80px;
  text-align: center;
  -moz-appearance:textfield;
  border: 3px solid #333;
  border-radius: 6px;
  margin-bottom: 10px;
}
.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #350d36;
  font-size: 26px!important;
}
.main {
  background-color: rgba(255,255,255,0.96);
  padding: 40px;
  min-width: 260px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.main * {
  font-size: 22px;
  line-height: 30px;
  color: #333;
}
.main {
}
#result {
  text-decoration: underline;
  text-align: center;
}
#copy-url {
  margin: 0;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
